@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  width: calc(100% - 208px);
  margin-left: 208px;
  z-index: 2000;
}

.bg-gray-500.p-10 {
  min-height: 91vh !important;
}
.searhcicon svg {
  position: absolute;
  top: 161px;
  margin-left: 14px;
}
